<!DOCTYPE html>
<html class='BACK'>
  <head>
    <title>COLLEGE STATION SEARCH</title>
    <link rel='stylesheet' href='/stylesheets/searchPage.css' />
     <!-- SLICK SLIDER CSS -->
    <link rel='stylesheet' href='/stylesheets/slickSlider.css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
      <link rel='stylesheet' href='/stylesheets/style3.css' />
       <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css">
     <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>


  </head>
  <body class='collegeStation' id="searchPageBody">
    <div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" id='navbar'>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a class="navbar-brand" href='/'>MyHomesMatchmaker</a>
      <!-- <a class="navbar-brand">COLLEGE STATION</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/collegeStation">Search<span class="sr-only">(current)</span></a></li>
        <!-- <li><a href="new">Sell My Home</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><% theUser.forEach(function(user){ if (user) { %><a href='/collegeStationFavs/<%= theUser[0]._id %>'>My Favorites</a><% } })%></li>
        <li><a href="tel:9792197479">979-219-7479</a></li>
        <li><% cookies.forEach(function(cookie) { %>
        <% if (!cookie) { %><a href="/signin">Login/Register</a><% } else { %><a href="/signout">Signout <% } })%></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



    <form action="/searchCS" method="post">
     <div class="topSpacer">
        <div class="col-md-2 col-md-offset-3">
        </div>
    </div>
    <div class="row cityRow">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 city">
          <label for"cityCS">Select City</label><br>
          <select multiple id="cityCS" name="city">
              <option value="BRYAN" selected>Bryan</option>
              <option value="COLLEGESTATION">College Station</option>
              <option value="ANDERSON">Anderson</option>
              <option value="BREMOND">Bremond</option>
              <option value="BRENHAM">Brenham</option>
              <option value="CALDWELL">Caldwell</option>
              <option value="CAMERON">Cameron</option>
              <option value="CAMPCREEKLAKE">Camp Creek Lake</option>
              <option value="CALVERT">Calvert</option>
              <option value="CENTERVILLE">Centerville</option>
              <option value="FRANKLIN">Franklin</option>
              <option value="GAUSE">Gause</option>
              <option value="GIDDINGS">Giddings</option>
              <option value="HEARNE">Hearne</option>
              <option value="HEMPSTEAD">Hempstead</option>
              <option value="HILLTOPLAKES">Hilltop Lakes</option>
              <option value="IOLA">Iola</option>
              <option value="JEWETT">Jewett</option>
              <option value="LAKELIMESTONE">Lake Limestone</option>
              <option value="LEXINGTON">Lexington</option>
              <option value="MARQUEZ">Marquez</option>
              <option value="MILANO">Milano</option>
              <option value="NAVASOTA">Navasota</option>
              <option value="NORMANGEE">Normangee</option>
              <option value="NORTHZULCH">North Zulch</option>
              <option value="ROCKDALE">Rockdale</option>
              <option value="SOMERVILLE">Somerville</option>
              <option value="THORNDALE">Thorndale</option>
          </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-6 col-xs-offset-0 minPrice">
          <label for="minprice">Min $</label><br>
            <select id="minprice" name="minprice">
                <option value="0">Any</option>
                <option value="100000">$100k</option>
                <option value="125000">$125k</option>
                <option value="150000">$150k</option>
                <option value="175000">$175k</option>
                <option value="200000">$200k</option>
                <option value="225000">$225k</option>
                <option value="250000">$250k</option>
                <option value="275000">$275k</option>
                <option value="300000">$300k</option>
                <option value="325000">$325k</option>
                <option value="350000">$350k</option>
                <option value="375000">$375k</option>
                <option value="400000">$400k</option>
                <option value="425000">$425k</option>
                <option value="450000">$450k</option>
                <option value="475000">$475k</option>
                <option value="500000">$500k</option>
                <option value="550000">$550k</option>
                <option value="600000">$600k</option>
                <option value="650000">$650k</option>
                <option value="700000">$700k</option>
                <option value="750000">$750k</option>
                <option value="800000">$800k</option>
                <option value="850000">$850k</option>
                <option value="900000">$900k</option>
                <option value="950000">$950k</option>
                <option value="1000000">$1 Million</option>
                <option value="1500000">$1.5 Million</option>
                <option value="2000000">$2 Million</option>
                <option value="2500000">$2.5 Million</option>
                <option value="3000000">$3 Million</option>
                <option value="3500000">$3.5 Million</option>
                <option value="4000000">$4 Million</option>
                <option value="4500000">$4.5 Million</option>
                <option value="5000000">$5 Million</option>
                <option value="7500000">$7.5 Million</option>
                <option value="10000000">$10 Million</option>
            </select>
        </div>
        <div class="col-md-2 col-sm-2 col-sm-2 col-xs-6 maxPrice">
          <label for="maxprice">Max $</label><br>
             <select id="maxprice" name="maxprice">
              <option value="999999999">Any</option>
                <option value="100000">$100k</option>
                <option value="125000">$125k</option>
                <option value="150000">$150k</option>
                <option value="175000">$175k</option>
                <option value="200000">$200k</option>
                <option value="225000">$225k</option>
                <option value="250000">$250k</option>
                <option value="275000">$275k</option>
                <option value="300000">$300k</option>
                <option value="325000">$325k</option>
                <option value="350000">$350k</option>
                <option value="375000">$375k</option>
                <option value="400000">$400k</option>
                <option value="425000">$425k</option>
                <option value="450000">$450k</option>
                <option value="475000">$475k</option>
                <option value="500000">$500k</option>
                <option value="550000">$550k</option>
                <option value="600000">$600k</option>
                <option value="650000">$650k</option>
                <option value="700000">$700k</option>
                <option value="750000">$750k</option>
                <option value="800000">$800k</option>
                <option value="850000">$850k</option>
                <option value="900000">$900k</option>
                <option value="950000">$950k</option>
                <option value="1000000">$1 Million</option>
                <option value="1500000">$1.5 Million</option>
                <option value="2000000">$2 Million</option>
                <option value="2500000">$2.5 Million</option>
                <option value="3000000">$3 Million</option>
                <option value="3500000">$3.5 Million</option>
                <option value="4000000">$4 Million</option>
                <option value="4500000">$4.5 Million</option>
                <option value="5000000">$5 Million</option>
                <option value="7500000">$7.5 Million</option>
                <option value="10000000">$10 Million</option>
            </select>
        </div>
    </div>
     <div class="row">
        <div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-6 col-xs-offset-0 bedrooms">
          <label for"bedsmin">Beds</label><br>
          <select id="bedsmin" name="bedsmin">
              <option value="0">Any</option>
              <option value="1">1</option>
              <option value="2">2+</option>
              <option value="3">3+</option>
              <option value="4">4+</option>
              <option value="5">5+</option>
              <option value="6">6+</option>
          </select>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6 bathrooms">
          <label for"bathsmin">Baths</label><br>
          <select id="bathsmin" name="bathsmin">
              <option value="0">Any</option>
              <option value="1">1</option>
              <option value="2">2+</option>
              <option value="3">3+</option>
              <option value="4">4+</option>
              <option value="5">5+</option>
          </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-6 col-xs-offset-0 minSqft">
          <label for="minsqft">Min SqFt</label><br>
              <select id="minsqft" name="minsqft">
                <option value="0" selected>Any</option>
                <option value="800">800</option>
                <option value="1000">1000</option>
                <option value="1200">1200</option>
                <option value="1400">1400</option>
                <option value="1600">1600</option>
                <option value="1800">1800</option>
                <option value="2000">2000</option>
                <option value="2200">2200</option>
                <option value="2400">2400</option>
                <option value="2600">2600</option>
                <option value="2800">2800</option>
                <option value="3000">3000</option>
                <option value="3200">3200</option>
                <option value="3400">3400</option>
                <option value="3600">3600</option>
                <option value="3800">3800</option>
                <option value="4000">4000</option>
                <option value="4500">4500</option>
                <option value="5000">5000</option>
              </select>
        </div>
        <div class="col-md-2 col-sm-2 col-sm-2 col-xs-6 maxSqft">
          <label for="maxsqft">Max SqFt</label><br>
             <select id="maxsqft" name="maxsqft">
              <option value="99999" selected>Any</option>
              <option value="800">800</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="2000">2000</option>
              <option value="2200">2200</option>
              <option value="2400">2400</option>
              <option value="2600">2600</option>
              <option value="2800">2800</option>
              <option value="3000">3000</option>
              <option value="3200">3200</option>
              <option value="3400">3400</option>
              <option value="3600">3600</option>
              <option value="3800">3800</option>
              <option value="4000">4000</option>
              <option value="4500">4500</option>
              <option value="5000">5000</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-6 col-xs-offset-0 stories">
        <label for"storiesCS">Stories</label><br>
          <select id="storiesCS" name="stories">
              <option value="1STORY,2andHalfSTORY,2STORYoMore,OTHER,SPLITLVL">Any</option>
              <option value="1STORY">1</option>
          </select>
        </div>
        <div class="col-md-2 col-sm-2 col-sm-2 col-xs-6 garages">
          <label for"garagesCS">Garages</label><br>
          <select id="garagesCS" name="garages">
              <option value="NONE,1,2,3PLUS">Any</option>
              <option value="2,3PLUS">2+</option>
              <option value="3PLUS">3+</option>
          </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 submit">
          <input class="btn-primary" type="submit" value="Search">
        </div>
    </div>
    </form>
    <div class="row bottomSpacer"></div>
         <div id="phoneFloatHomePage">
  <div class="justListed text-center">Just Listed Today</div>
          <% listings.forEach(function(listing) { %>
         <% if ((new Date() - listing.listContractDate) / 86400000 <= 1) { %>
          <div class="col-lg-3 col-md-4 col-sm-6 well HOME">
      <div class="statusButtons"><button id="new" disabled="true">MLS Listed</button><button id="new2" disabled="true"><% if (listing.status == 'A') { %> Active <% } %><% if (listing.status == 'AP') { %> Pending <% } %><% if (listing.status == 'CC') { %> Contingent <% } %><% if (listing.status == 'OPS') { %> Pending <% } %><% if ((new Date() - listing.listContractDate) / 86400000 <= 0) { %><button id="new" disabled="true">New!</button><% } %></div>
      
       <div class="listingImage rtl">
          <% for (var i = 1; i <= listing.photoCount; i++) { %>
        <a href="/collegeStation/<%= listing.MLS %>"><img class="image" src="/images/collegeStationImages/LargePhoto<%= listing.matrixID %>-<%= i %>.jpeg" height="200px" width="250px"></a>
        <% } %>
      </div>  

      <div class="listingBasics" class="text-center"><div><strong><span class="price"><%= listing.price %></span></strong>&nbsp;&nbsp;&nbsp;&nbsp;<%= ((new Date() - listing.listContractDate) / 86400000).toFixed(0) %> Days on Market</div>
      <div><%= listing.beds %> Bed, <%= listing.baths %> Bath, <%= listing.sqft.toFixed(0) %> Sq.Ft.</div>
      <div><span class='address'><%= listing.streetNumber %> <%= listing.streetName %> in <%= listing.city %>, <%= listing.state %></span></div>
      <div><span class='neighborhood'>Subdiv: <strong><%= listing.subdivision %></strong></span></div>
      <div><span class='listingOffice'>Listed by <%= listing.listOffice %></span></div><br>
     </div>

     <div class="amenities"><% if (listing.stories === '1STORY') { %><button id='none' disabled='true'><img src="/images/stories-icon.png" height="20px" width="20px"> 1 Stories</button><% } %><% if (listing.stories === '2andHalfSTORY' || listing.stories === '2STORYoMore') { %><button id='none' disabled='true'><img src="/images/stories-icon.png" height="20px" width="20px"> 2 Stories</button><% } %><% if (listing.acreage === '' || listing.acreage === "0.00") { %><% } else { %><button id='none' disabled='true'><img src="images/lot-size-icon.png" height="20px" width="20px"><%= listing.acreage %> Acres</button><% } %><% if (listing.garage > 0) { %><button id='none' disabled='true'><img src="images/garage-icon.png" height="20px" width="20px"> <%= listing.garage %> Garage</button><% } %><% if (listing.garage == '3PLUS') { %><button id='none' disabled='true'><img src="images/garage-icon.png" height="20px" width="20px"> 3+ Garage</button><% } else { %><% } %><% if (listing.fireplace > 0) { %><button id="none" disabled="true"><img src="images/fireplace-icon.png" height="20px" width="20px"> Fireplace</button><% } else { %><% } %><% if (listing.amenities.indexOf('ABVGRNPL') >= 0 || listing.amenities.indexOf('INGRNDPL') >= 0) { %><button id="none" disabled="true"><img src="images/icon-swimming.png" height="20px" width="20px"> Pool</button><% } else { %><% } %><% if (listing.amenities.indexOf('POOL') >= 0) { %><button id="none" disabled="true"><img src="images/swimming.png" height="20px" width="20px"> Comm Pool</button><% } else { %><% } %><% if (listing.amenities.indexOf('CVRPTDE') >= 0) { %><button id="none" disabled="true"><img src="images/covered-patio.png" height="20px" width="20px"> Covered Patio</button><% } else { %><% } %><% if (listing.amenities.indexOf('SPRNKSYS') >= 0) { %><button id="none" disabled="true"><img src="images/sprinkler.png" height="20px" width="20px"> Sprinkler</button><% } else { %><% } %><% if (listing.amenities.indexOf('BRNSTBL') >= 0) { %><button id="none" disabled="true"><img src="images/swimming.png" height="20px" width="20px"> Barn/Stables</button><% } else { %><% } %><% if (listing.lotDesc.indexOf('BACKPARK') >= 0) { %><button id="none" disabled="true"><img src="images/swimming.png" height="20px" width="20px"> Backs to Park</button><% } else { %><% } %><% if (listing.lotDesc.indexOf('CULDESAC') >= 0) { %><button id="none" disabled="true"><img src="images/cul-de-sac.png" height="20px" width="20px"> Cul-De-Sac</button><% } else { %><% } %><% if (listing.lotDesc.indexOf('LAKE') >= 0) { %><button id="none" disabled="true"><img src="images/lake-icon.png" height="20px" width="20px"> Lake</button><% } else { %><% } %><div class='DescSchoolsFin'><button type="button" class="btn btn-primary DESC" data-toggle="popover" data-trigger="focus" data-placement="top" title="Description" data-content="<%= listing.remarks %>">Desc</button><button type="button" class="btn btn-primary DESC" data-toggle="popover" data-trigger="focus" data-placement="top" title="Schools" data-content="School District: <%= listing.schoolDistrict %>">Schools</button><button type="button" class="btn btn-primary DESC" data-toggle="popover" data-trigger="focus" data-placement="top" title="Financials" data-content="$/SqFt: $<%= listing.priceSQFT %> <br> HOA: $<%= listing.hoaFee %> <%= listing.hoaTerm %>">Financials</button></div><div><button type="button" class="btn DESC form-control" data-toggle="popover" data-trigger="focus" data-placement="top" title="Amber Dawn Cox" data-content="[Agent Photo Here] <br> <a href='tel:9792197479'><strong>979-219-7479</strong></a> <br> <a href='mailto:Amber@MyHomesMatchmaker.com'>Amber@MyHomesMatchmaker.com</a> <br> Keller Williams Realty">Contact Agent</button></div></div>




</div>
<% } %>
<% }) %>
</div>
</div>

 <div class='col-md-12 col-xs-12'>
      <small>Listing information © 2015 Bryan-College Station Regional Multiple Listing Service. IDX information is provided exclusively for consumers' personal, non-commercial use and may not be used for any purpose other than to identify prospective properties consumers may be interested in purchasing. Data is deemed reliable but is not guaranteed accurate</small>
    </div>

   <script src='/javascripts/javascript.js'></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>$('[data-toggle="popover"]').popover({html: true});</script> 
   <!-- SLICK SLIDER SCRIPT -->
   <script src='/javascripts/slickSlider.js'></script>
   <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
  </body>