<!DOCTYPE html>
<html class='BACK'>
  <head>
    <title>CHICAGO SEARCH</title>
    <link rel='stylesheet' href='/stylesheets/searchPage.css' />
     <!-- SLICK SLIDER CSS -->
    <link rel='stylesheet' href='/stylesheets/slickSlider.css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
      <link rel='stylesheet' href='/stylesheets/style3.css' />
       <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel="stylesheet" href="http://bootswatch.com/superhero/bootstrap.min.css">
     <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
   

  </head>
  <body id="searchPageBody" class='orlando'>
    <div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" id='navbar'>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a class="navbar-brand" href='/'>MyHomesMatchmaker</a>
      <!-- <a class="navbar-brand">CHICAGO</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/chicago">Search<span class="sr-only">(current)</span></a></li>
        <!-- <li><a href="new">Sell My Home</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- THIS IS TO SEARCH BY CITY -->
         <form class="navbar-form navbar-left" role="search" action='/citySearchChicago' method='post'>
    <div class="form-group">
      <label for='form-control'>Search by City</label>
        <input type="text" class="form-control" placeholder="Enter City" name='city'>
    </div>
    <button type="submit" class="btn btn-default" id='navbar'><span class="glyphicon glyphicon-search"></span></button>
</form>
         <li><% theUser.forEach(function(user){ if (user) { %><a href='/chicagoFavs/<%= theUser[0]._id %>'>My Favorites</a><% } })%></li>
        <li><a href="tel:3094290826">309-429-0826</a></li>
        <li><% cookies.forEach(function(cookie) { %>
        <% if (!cookie) { %><a href="/signup">Login/Register</a><% } else { %><a href="/signout">Signout <% } })%></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



    <form action="/searchChicago" method="post">
     <div class="topSpacer">
        <div class="col-md-2 col-md-offset-3">
        </div>
    </div>
    <div class="row cityRow">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 city">
          <label for"city">Select City</label><br>
          <select multiple id="city" name="city">
                <option value="CHICAGO" selected>Chicago</option>
              <option value="ADDISON">Addison</option>
              <option value="ALBANY PARK">Albany Park</option>
              <option value="ALGONQUIN">Algonquin</option>
              <option value="ALSIP">Alsip</option>
              <option value="ANTIOCH">Antioch</option>
              <option value="ARLINGTON HEIGHTS">Arlington Heights</option>
              <option value="ASHBURN">Ashburn</option>
              <option value="AUBURN GRESHAM">Auburn Gresham</option>
              <option value="AURORA">Aurora</option>
              <option value="AUSTIN">Austin</option>
              <option value="AVONDALE">Avondale</option>
              <option value="BARRINGTON">Barrington</option>
              <option value="BARRINGTON HILLS">Barrington Hills</option>
              <option value="BARTLETT">Bartlett</option>
              <option value="BATAVIA">Batavia</option>
              <option value="BEECHER">Beecher</option>
              <option value="BELVIDERE">Belvidere</option>
              <option value="BENSENVILLE">Bensenville</option>
              <option value="BERWYN">Berwyn</option>
              <option value="BLOOMINGDALE">Bloomingdale</option>
              <option value="BOLINGBROOK">Bolingbrook</option>
              <option value="BRAIDWOOD">Braidwood</option>
              <option value="BRIDGEPORT">Bridgeport</option>
              <option value="BRIDGEVIEW">Bridgeview</option>
              <option value="BRIGHTON PARK">Brighton Park</option>
              <option value="BROOKFIELD">Brookfield</option>
              <option value="BUFFALO GROVE">Buffalo Grove</option>
              <option value="BURBANK">Burbank</option>
              <option value="BURR RIDGE">Burr Ridge</option>
              <option value="CALUMET CITY">Calumet City</option>
              <option value="CALUMET HEIGHTS">Calumet Heights</option>
              <option value="CALUMET PARK">Calumet Park</option>
              <option value="CAROL STREAM">Carol Stream</option>
              <option value="CARPENTERSVILLE">Carpentersville</option>
              <option value="CARY">Cary</option>
              <option value="CHANNAHON">Channahon</option>
              <option value="CHATHAM">Chatham</option>
              <option value="CHICAGO HEIGHTS">Chicago Heights</option>
              <option value="CHICAGO LAWN">Chicago Lawn</option>
              <option value="CHICAGO RIDGE">Chicago Ridge</option>
              <option value="CICERO">Cicero</option>
              <option value="CLARENDON HILLS">Clarendon Hills</option>
              <option value="CLEARING">Clearing</option>
              <option value="COAL CITY">Coal City</option>
              <option value="COUNTRY CLUB HILLS">Country Club Hills</option>
              <option value="CREST HILL">Crest Hill</option>
              <option value="CRESTWOOD">Crestwood</option>
              <option value="CRETE">Crete</option>
              <option value="CRYSTAL LAKE">Crystal Lake</option>
              <option value="DARIEN">Darien</option>
              <option value="DEERFIELD">Deerfield</option>
              <option value="DEKALB">Dekalb</option>
              <option value="DES PLAINES">Des Plaines</option>
              <option value="DOLTON">Dolton</option>
              <option value="DOWNERS GROVE">Downers Grove</option>
              <option value="DUNNING">Dunning</option>
              <option value="EAST GARFIELD PARK">East Garfield Park</option>
              <option value="EAST SIDE">East Side</option>
              <option value="EDGEWATER">Edgewater</option>
              <option value="EDISON PARK">Edison Park</option>
              <option value="ELBURN">Elburn</option>
              <option value="ELGIN">Elgin</option>
              <option value="ELK GROVE VILLAGE">Elk Grove Village</option>
              <option value="ELMHURST">Elmhurst</option>
              <option value="ELMWOOD PARK">Elmwood Park</option>
              <option value="ELWOOD">Elwood</option>
              <option value="ENGLEWOOD">Englewood</option>
              <option value="EVANSTON">Evanston</option>
              <option value="EVERGREEN PARK">Evergreen Park</option>
              <option value="FLOSSMOOR">Flossmoor</option>
              <option value="FOREST GLEN">Forest Glen</option>
              <option value="FOREST PARK">Forest Park</option>
              <option value="FOX LAKE">Fox Lake</option>
              <option value="FRANKFORT">Frankfort</option>
              <option value="FRANKLIN PARK">Franklin Park</option>
              <option value="GAGE PARK">Gage Park</option>
              <option value="GARFIELD RIDGE">Garfield Ridge</option>
              <option value="GENEVA">Geneva</option>
              <option value="GILBERTS">Gilberts</option>
              <option value="GLEN ELLYN">Glen Ellyn</option>
              <option value="GLENCOE">Glencoe</option>
              <option value="GLENDALE HEIGHTS">Glendale Heights</option>
              <option value="GLENVIEW">Glenview</option>
              <option value="GLENWOOD">Glenwood</option>
              <option value="GRAND BOULEVARD">Grand Boulevard</option>
              <option value="GRAYSLAKE">Garyslake</option>
              <option value="GREATER GRAND CROSSING">Greater Grand Crossing</option>
              <option value="GURNEE">Gurnee</option>
              <option value="HAMPSHIRE">Hampshire</option>
              <option value="HANOVER PARK">Hanover Park</option>
              <option value="HARVARD">Harvard</option>
              <option value="HARVEY">Harvey</option>
              <option value="HAWTHORN WOODS">Hawthorn Woods</option>
              <option value="HAZEL CREST">Hazel Crest</option>
              <option value="HEGEWISCH">Hegewisch</option>
              <option value="HERMOSA">Hermosa</option>
              <option value="HICKORY HILLS">Hickory Hills</option>
              <option value="HIGHLAND PARK">Highland Park</option>
              <option value="HILLSIDE">Hillside</option>
              <option value="HINSDALE">Hinsdale</option>
              <option value="HOFFMAN ESTATES">Hoffman Estates</option>
              <option value="HOMER GLEN">Homer Glen</option>
              <option value="HOMEWOOD">Homewood</option>
              <option value="HUMBOLDT PARK">Humboldt Park</option>
              <option value="HUNTLEY">Huntley</option>
              <option value="HYDE PARK">Hyde Park</option>
              <option value="INGLESIDE">Ingleside</option>
              <option value="INVERNESS">Inverness</option>
              <option value="IRVING PARK">Irving Park</option>
              <option value="ISLAND LAKE">Island Lake</option>
              <option value="ITASCA">Itasca</option>
              <option value="JEFFERSON PARK">Jefferson Park</option>
              <option value="JOHNSBURN">Johnsburn</option>
              <option value="JOLIET">Joliet</option>
              <option value="JUSTICE">Justice</option>
              <option value="KENILWORTH">Kenliworth</option>
              <option value="KENWOOD">Kenwood</option>
              <option value="KILDEER">Kildeer</option>
              <option value="LA GRANGE">La Grange</option>
              <option value="LA GRANGE PARK">La Grange Park</option>
              <option value="LAKE BARRINGTON">Lake Barrington</option>
              <option value="LAKE BLUFF">Lake Bluff</option>
              <option value="LAKE FOREST">Lake Forest</option>
              <option value="LAKE VIEW">Lake View</option>
              <option value="LAKE VILLA">Lake Villa</option>
              <option value="LAKE ZURICH">Lake Zurich</option>
              <option value="LAKE IN THE HILLS">Lake in the Hills</option>
              <option value="LAKEMOOR">Lakemoor</option>
              <option value="LAKEWOOD">Lakewood</option>
              <option value="LANSING">Lansing</option>
              <option value="LEMONT">Lemont</option>
              <option value="LIBERTYVILLE">Libertyville</option>
              <option value="LINCOLN PARK">Lincoln Park</option>
              <option value="LINCOLN SQUARE">Lincoln Square</option>
              <option value="LINCOLNSHIRE">Lincolnshire</option>
              <option value="LINCOLNWOOD">Lincolnwood</option>
              <option value="LINDENHURST">Lindenhurst</option>
              <option value="LISLE">Lisle</option>
              <option value="LOCKPORT">Lockport</option>
              <option value="LOGAN SQUARE">Logan Square</option>
              <option value="LOMBARD">Lombard</option>
              <option value="LONG GROVE">Long Grove</option>
              <option value="LOOP">Loop</option>
              <option value="LOVES PARK">Loves Park</option>
              <option value="LOWER WEST SIDE">Lower West Side</option>
              <option value="LYNWOOD">Lynwood</option>
              <option value="LYONS">Lyons</option>
              <option value="MANHATTAN">Manhattan</option>
              <option value="MARENGO">Marengo</option>
              <option value="MARKHAM">Markham</option>
              <option value="MATTESON">Matteson</option>
              <option value="MAYWOOD">Maywood</option>
              <option value="MAZON">Mazon</option>
              <option value="MCKINLEY PARK">Mckinley Park</option>
              <option value="MCHENRY">Mchenry</option>
              <option value="MELROSE PARK">Melrose Park</option>
              <option value="MIDLOTHIAN">Midlothian</option>
              <option value="MINOOKA">Minooka</option>
              <option value="MOKENA">Mokena</option>
              <option value="MONEE">Monee</option>
              <option value="MONTCLARE">Montclare</option>
              <option value="MONTGOMERY">Montgomery</option>
              <option value="MORGAN PARK">Morgan Park</option>
              <option value="MORRIS">Morris</option>
              <option value="MORRISON">Morrison</option>
              <option value="MORTON GROVE">Morton Grove</option>
              <option value="MOUNT GREENWOOD">Mount Greenwood</option>
              <option value="MOUNT PROSPECT">Mount Prospect</option>
              <option value="PROSPECT">Prospect</option>
              <option value="MUNDELEIN">Mundelein</option>
              <option value="NORTH AURORA">North Aurora</option>
              <option value="NAPERVILLE">Naperville</option>
              <option value="NEAR NORTH SIDE">Near North Side</option>
              <option value="NEAR SOUTH SIDE">Near South Side</option>
              <option value="NEAR WEST SIDE">Near West Side</option>
              <option value="NEW CITY">New City</option>
              <option value="NEW LENNOX">New Lennox</option>
              <option value="NILES">Niles</option>
              <option value="NORTH CENTER">North Center</option>
              <option value="NORTH CHICAGO">North Chicago</option>
              <option value="NORTH LAWNDALE">North Lawndale</option>
              <option value="NORTH PARK">North Park</option>
              <option value="NORTHBROOK">Northbrook</option>
              <option value="NORTHFIELD">Northfield</option>
              <option value="NORWOOD PARK">Norwood Park</option>
              <option value="O'HARE">O'Hare</option>
              <option value="OAK BROOK">Oak Brook</option>
              <option value="OAK FOREST">Oak Forest</option>
              <option value="OAK LAWN">Oak Lawn</option>
              <option value="OAK PARK">Oak Park</option>
              <option value="OAKBROOK TERRACE">Oakbrook Terrace</option>
              <option value="OAKLAND">Oakland</option>
              <option value="OAKWOOD HILLS">Oakwood Hills</option>
              <option value="OLYMPIA FIELDS">Olympia Fields</option>
              <option value="ORLAND HILLS">Orland Hills</option>
              <option value="ORLAND PARK">Orland Park</option>
              <option value="OSWEGO">Oswego</option>
              <option value="PALATINE">Palatine</option>
              <option value="PALOS HEIGHTS">Palos Heights</option>
              <option value="PALOS HILLS">Palos Hills</option>
              <option value="PALOS PARK">Palos Park</option>
              <option value="PARK FOREST">Park Forest</option>
              <option value="PARK RIDGE">Park Ridge</option>
              <option value="PEOTONE">Peotone</option>
              <option value="PINGREE GROVE">Pingree Grove</option>
              <option value="PLAINFIELD">Plainfield</option>
              <option value="PLANO">Plano</option>
              <option value="POPLAR GROVE">Poplar Grove</option>
              <option value="PORTAGE PARK">Portage Park</option>
              <option value="PRINCETON">Princeton</option>
              <option value="PROSPECT PARK">Prospect Park</option>
              <option value="PROSPECT HEIGHTS">Prospect Heights</option>
              <option value="RICHMOND">Richmond</option>
              <option value="RICHTON PARK">Richton Park</option>
              <option value="RIVER FOREST">River Forest</option>
              <option value="RIVERDALE">Riverdale</option>
              <option value="RIVERSIDE">Riverside</option>
              <option value="RIVERWOODS">Riverwoods</option>
              <option value="ROCKFORD">Rockford</option>
              <option value="ROGERS PARK">Rogers Park</option>
              <option value="ROLLING MEADOWS">Rolling Meadows</option>
              <option value="ROMEOVILLE">Romeoville</option>
              <option value="ROSCOE">Roscoe</option>
              <option value="ROSELAND">Roseland</option>
              <option value="ROSELLE">Roselle</option>
              <option value="ROUND LAKE">Round Lake</option>
              <option value="ROUND LAKE BEACH">Round Lake Beach</option>
              <option value="SAUK VILLAGE">Sauk Village</option>
              <option value="SCHAUMBURG">Schaumburg</option>
              <option value="SCHILLER PARK">Schiller Park</option>
              <option value="SHOREWOOD">Shorewood</option>
              <option value="SKOKIE">Skokie</option>
              <option value="SOUTH BARRINGTON">South Barrington</option>
              <option value="SOUTH CHICAGO">South Chicago</option>
              <option value="SOUTH CHICAGO HEIGHTS">South Chicago Heights</option>
              <option value="SOUTH DEERING">South Deering</option>
              <option value="SOUTH ELGIN">South Elgin</option>
              <option value="SOUTH HOLLAND">South Holland</option>
              <option value="SOUTH SHORE">South Shore</option>
              <option value="SPRING GROVE">Spring Grove</option>
              <option value="ST. CHARLES">St. Charles</option>
              <option value="STEGER">Steger</option>
              <option value="STICKNEY">Stickney</option>
              <option value="STREAMWOOD">Streamwood</option>
              <option value="SUGAR GROVE">Sugar Grove</option>
              <option value="SUMMIT">Summit</option>
              <option value="SYCAMORE">Sycamore</option>
              <option value="TINLEY PARK">Tinley Park</option>
              <option value="TWIN LAKES">Twin Lakes</option>
              <option value="UNIVERSITY PARK">University Park</option>
              <option value="UPTOWN">Uptown</option>
              <option value="UTICA">Utica</option>
              <option value="VERNON HILLS">Vernon Hills</option>
              <option value="VILLA PARK">Villa Park</option>
              <option value="VOLO">Volo</option>
              <option value="WADSWORTH">Wadsworth</option>
              <option value="WARRENVILLE">Warrenville</option>
              <option value="WOODRIDGE">Washington</option>
              <option value="WASHINGTON PARK">Washington Park</option>
              <option value="WAUCONDA">Wauconda</option>
              <option value="WAUKEGAN">Waukegan</option>
              <option value="WAYNE">Wayne</option>
              <option value="WEST CHICAGO">West Chicago</option>
              <option value="WEST DUNDEE">West Dundee</option>
              <option value="WEST ELSDON">West Elsdon</option>
              <option value="WEST ENGLEWOOD">West Englewood</option>
              <option value="WEST GARFIELD PARK">West Garfield Park</option>
              <option value="WEST LAWN">West Lawn</option>
              <option value="WEST PULLMAN">West Pullman</option>
              <option value="WEST RIDGE">West Ridge</option>
              <option value="WEST TOWN">West Town</option>
              <option value="WESTCHESTER">Westchester</option>
              <option value="WESTERN SPRINGS">Western Springs</option>
              <option value="WESTMONT">Westmont</option>
              <option value="WHEATON">Wheaton</option>
              <option value="WHEELING">Wheeling</option>
              <option value="WILLOW SPRINGS">Willow Springs</option>
              <option value="WILLOWBROOK">Willowbrook</option>
              <option value="WILMETTE">Wilmette</option>
              <option value="WILMINGTON">Wilmington</option>
              <option value="WINFIELD">Winfield</option>
              <option value="WINTHROP HARBOR">Winthrop Harbor</option>
              <option value="WONDER LAKE">Wonder Lake</option>
              <option value="WOOD DALE">Wood Dale</option>
              <option value="WOODLAWN">Woodlawn</option>
              <option value="WOODRIDGE">Woodridge</option>
              <option value="WOODSTOCK">Woodstock</option>
              <option value="WORTH">Worth</option>
              <option value="YORKVILLE">Yorkville</option>
              <option value="ZION">Zion</option>
          </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-6 col-xs-offset-0 minPrice">
          <label for="minprice">Min $</label><br>
            <select id="minprice" name="minprice">
                <option value="0">Any</option>
                <option value="100000">$100k</option>
                <option value="125000">$125k</option>
                <option value="150000">$150k</option>
                <option value="175000">$175k</option>
                <option value="200000">$200k</option>
                <option value="225000">$225k</option>
                <option value="250000">$250k</option>
                <option value="275000">$275k</option>
                <option value="300000">$300k</option>
                <option value="325000">$325k</option>
                <option value="350000">$350k</option>
                <option value="375000">$375k</option>
                <option value="400000">$400k</option>
                <option value="425000">$425k</option>
                <option value="450000">$450k</option>
                <option value="475000">$475k</option>
                <option value="500000">$500k</option>
                <option value="550000">$550k</option>
                <option value="600000">$600k</option>
                <option value="650000">$650k</option>
                <option value="700000">$700k</option>
                <option value="750000">$750k</option>
                <option value="800000">$800k</option>
                <option value="850000">$850k</option>
                <option value="900000">$900k</option>
                <option value="950000">$950k</option>
                <option value="1000000">$1 Million</option>
                <option value="1500000">$1.5 Million</option>
                <option value="2000000">$2 Million</option>
                <option value="2500000">$2.5 Million</option>
                <option value="3000000">$3 Million</option>
                <option value="3500000">$3.5 Million</option>
                <option value="4000000">$4 Million</option>
                <option value="4500000">$4.5 Million</option>
                <option value="5000000">$5 Million</option>
                <option value="7500000">$7.5 Million</option>
                <option value="10000000">$10 Million</option>
            </select>
        </div>
        <div class="col-md-2 col-sm-2 col-sm-2 col-xs-6 maxPrice">
          <label for="maxprice">Max $</label><br>
             <select id="maxprice" name="maxprice">
              <option value="999999999">Any</option>
                <option value="100000">$100k</option>
                <option value="125000">$125k</option>
                <option value="150000">$150k</option>
                <option value="175000">$175k</option>
                <option value="200000">$200k</option>
                <option value="225000">$225k</option>
                <option value="250000">$250k</option>
                <option value="275000">$275k</option>
                <option value="300000">$300k</option>
                <option value="325000">$325k</option>
                <option value="350000">$350k</option>
                <option value="375000">$375k</option>
                <option value="400000">$400k</option>
                <option value="425000">$425k</option>
                <option value="450000">$450k</option>
                <option value="475000">$475k</option>
                <option value="500000">$500k</option>
                <option value="550000">$550k</option>
                <option value="600000">$600k</option>
                <option value="650000">$650k</option>
                <option value="700000">$700k</option>
                <option value="750000">$750k</option>
                <option value="800000">$800k</option>
                <option value="850000">$850k</option>
                <option value="900000">$900k</option>
                <option value="950000">$950k</option>
                <option value="1000000">$1 Million</option>
                <option value="1500000">$1.5 Million</option>
                <option value="2000000">$2 Million</option>
                <option value="2500000">$2.5 Million</option>
                <option value="3000000">$3 Million</option>
                <option value="3500000">$3.5 Million</option>
                <option value="4000000">$4 Million</option>
                <option value="4500000">$4.5 Million</option>
                <option value="5000000">$5 Million</option>
                <option value="7500000">$7.5 Million</option>
                <option value="10000000">$10 Million</option>
            </select>
        </div>
    </div>
     <div class="row">
        <div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-6 col-xs-offset-0 bedrooms">
          <label for"bedsmin">Beds</label><br>
          <select id="bedsmin" name="bedsmin">
              <option value="0">Any</option>
              <option value="1">1</option>
              <option value="2">2+</option>
              <option value="3">3+</option>
              <option value="4">4+</option>
              <option value="5">5+</option>
              <option value="6">6+</option>
          </select>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6 bathrooms">
          <label for"bathsmin">Baths</label><br>
          <select id="bathsmin" name="bathsmin">
              <option value="0">Any</option>
              <option value="1">1</option>
              <option value="2">2+</option>
              <option value="3">3+</option>
              <option value="4">4+</option>
              <option value="5">5+</option>
          </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-6 col-xs-offset-0 minSqft">
          <label for="minsqft">Min SqFt</label><br>
              <select id="minsqft" name="minsqft">
                <option value="0" selected>Any</option>
                <option value="800">800</option>
                <option value="1000">1000</option>
                <option value="1200">1200</option>
                <option value="1400">1400</option>
                <option value="1600">1600</option>
                <option value="1800">1800</option>
                <option value="2000">2000</option>
                <option value="2200">2200</option>
                <option value="2400">2400</option>
                <option value="2600">2600</option>
                <option value="2800">2800</option>
                <option value="3000">3000</option>
                <option value="3200">3200</option>
                <option value="3400">3400</option>
                <option value="3600">3600</option>
                <option value="3800">3800</option>
                <option value="4000">4000</option>
                <option value="4500">4500</option>
                <option value="5000">5000</option>
              </select>
        </div>
        <div class="col-md-2 col-sm-2 col-sm-2 col-xs-6 maxSqft">
          <label for="maxsqft">Max SqFt</label><br>
             <select id="maxsqft" name="maxsqft">
              <option value="99999" selected>Any</option>
              <option value="800">800</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1400">1400</option>
              <option value="1600">1600</option>
              <option value="1800">1800</option>
              <option value="2000">2000</option>
              <option value="2200">2200</option>
              <option value="2400">2400</option>
              <option value="2600">2600</option>
              <option value="2800">2800</option>
              <option value="3000">3000</option>
              <option value="3200">3200</option>
              <option value="3400">3400</option>
              <option value="3600">3600</option>
              <option value="3800">3800</option>
              <option value="4000">4000</option>
              <option value="4500">4500</option>
              <option value="5000">5000</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-6 col-xs-offset-0 stories">
        <label for"stories">Stories</label><br>
          <select id="stories" name="stories">
              <option value="200">Any</option>
              <option value="1">1</option> 
          </select>
        </div>
        <div class="col-md-2 col-sm-2 col-sm-2 col-xs-6 garages">
          <label for"garages">Garages</label><br>
          <select id="garages" name="garages">
              <option value="0">Any</option>
              <option value="2">2+</option>
              <option value="3">3+</option>
          </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 submit">
          <input class="btn-primary" type="submit" value="Search">
        </div>
    </div>
    </form>
   <div class="row bottomSpacer"></div>
         <div id="phoneFloatHomePage">
  <div class="justListed text-center">Popular Listings</div>
          <% listings.forEach(function(listing) { %>
      <% if (listing.city == 'CHICAGO') { %>
          <div class="col-lg-3  col-md-4 col-sm-6 well HOME">
      <div class="statusButtons"><button id="new" disabled="true">MLS Listed</button><button id="new2" disabled="true">Active</button><% if (((new Date - new Date(listing.listDate.trim())) / 86400000).toFixed(0) <= 2) { %><button id="new" disabled="true">New!</button> <% } %></div>
      
    <div class="listingImage rtl">
          <% for (var i = 1; i <= listing.photoCount; i++) { %>
        <a href="/chicago/<%= listing.MLS %>"><img class="image" src="/images/chicagoImages/LargePhoto<%= listing.MLS %>-<%= i %>.jpeg" height="200px" width="250px"></a>
        <% } %>
    </div>
      
      <div class="listingBasics" class="text-center"><div><strong><span class="price"><%= listing.price %></span></strong>&nbsp;&nbsp;&nbsp;&nbsp;<%= ((new Date - new Date(listing.listDate.trim())) / 86400000).toFixed(0) %> Days on Market</div>
      <div><%= listing.beds %> Bed, <%= listing.fullBaths %> Bath, <%= listing.appxsqft %> Sq.Ft.</div>
      <div><span class='address'><%= listing.streetNumber %> <%= listing.streetName %> <% if (listing.unitNum !== 'NA') { %> Unit <%= listing.unitNum %><% } %> in <%= listing.city %>, <%= listing.state %></span></div>
      <div><span class='neighborhood'>Subdiv: <strong><%= listing.subdivision %></strong></span></div>
      <div><span class='listingOffice'><%= listing.listOffice %></span></div><br>
     </div>
       <div class='amenities'>
<!-- STORIES-->
        <button id='none' disabled='true'><img src="images/garage-icon.png" height="20px" width="20px"><%= listing.garage %> Garage</button><% if (listing.fireplace > 0) { %><button id="none" disabled="true"><img src="images/fireplace-icon.png" height="20px" width="20px"> Fireplace</button><% } else { %><% } %><% if (listing.basement.indexOf('N') < 0) { %><button id="none" disabled="true"><img src="images/basement5.png" height="20px" width="20px"> Basement</button><% } else { %><% } %><% if (listing.otherAmenities.indexOf('C') >= 0) { %><button id="none" disabled="true"><img src="images/swimming.png" height="20px" width="20px"> Comm Pool</button><% } else { %><% } %><% if (listing.waterfront === 'Y') { %><button id="none" disabled="true"><img src="images/waterfront-icon.png" height="20px" width="20px"> Waterfront</button><% } else { %><% } %><% if (listing.remarks.indexOf('golf') >= 0 || listing.remarks.indexOf('Golf') >= 0 || listing.remarks.indexOf('GOLF') >= 0) { %><button id="none" disabled="true"><img src="images/waterfront-icon.png" height="20px" width="20px"> Golf Comm</button><% } else { %><% } %><div class='DescSchoolsFin'><button type="button" class="btn btn-primary DESC" data-toggle="popover" data-trigger="focus" data-placement="top" title="Description" data-content="<%= listing.remarks %>">Desc</button>&nbsp;<button type="button" class="btn btn-primary DESC" data-toggle="popover" data-trigger="focus" data-placement="top" title="Schools" data-content="Elem: <%= listing.elemSchool %> <br> Middle: <%= listing.middleSchool %> <br>High School: <%= listing.highSchool %>">Schools</button>&nbsp;<button type="button" class="btn btn-primary DESC" data-toggle="popover" data-trigger="focus" data-placement="top" title="Financials" data-content="Taxes: $<%= listing.taxes %> <br> $/SqFt: $<%= listing.priceSQFT %> <br> HOA: $<%= listing.hoaFee %>/mo">Financials</button></div><div><button type="button" class="btn DESC form-control" data-toggle="popover" data-trigger="focus" data-placement="top" title="Walker Robinson" data-content="[Agent Photo Here] <br> <a href='tel:5122709688'><strong>AGENT PHONE</strong></a> <br> <a href='mailto:Walker@MyHomesMatchmaker.com'>Email</a> <br> RE/Max Edge">Contact Agent</button></div></div>

</div>
<% } %>
<% }) %>
</div>
</div>


   <div class='row footerMargin'>
    </div>

      <nav class="navbar navbar-default navbar-fixed-bottom" id='navbar'>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="margin visible-lg visible-md"></div>
                        <small>Each Office Independently Owned and Operated. RE/MAX, LLC is an Equal Opportunity Employer and supports the Fair Housing Act.
                        © 2015 RE/MAX, LLC. All Rights Reserved.</small>
                    </div>
                    
                </div>
            </div>
        </nav>

 <script src='/javascripts/javascript.js'></script> 
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <!-- SLICK SLIDER SCRIPT -->
   <script src='/javascripts/slickSlider.js'></script>
 <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
  </body>