  <!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/searchPage.css' />
     <link rel="stylesheet" href="http://bootswatch.com/superhero/bootstrap.min.css">
     <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    

    <title>AUSTIN SEARCH RESULTS</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='/'>HOME</a>
      <a class="navbar-brand">AUSTIN</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/austin">Search<span class="sr-only">(current)</span></a></li>
        <!-- <li><a href="/newAustin">Sell My Home</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="tel:5122709688">512-270-9688</a></li>
        <li><a href="login">Login/Register</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    
    <div id="phoneFloatSearchPage"><span class='numResults'></span>
<div id="container">
          <% listings.forEach(function(listing) { %>
          <div class="col-lg-3 col-md-4 col-sm-6 well HOME">
      <div class="statusButtons"><button id="new" disabled="true">MLS Listed</button><button id="new2" disabled="true"><% if (listing.status == 'A') { %> Active <% } %><% if (listing.status == 'AC') { %> Active <% } %><% if (listing.status == 'PB') { %> Pending <% } %></button><% if ((new Date() - listing.ListingContractDate) / 86400000 <= 2) { %><button id="new" disabled="true">New!</button> <% } %></div>
      <div class="listingImage"><a href="/austin/<%= listing._id %>"><img class="image" src="images/house2.jpg" height="200px" width="250px"></a></div>
      <div class="prevNextFav"><button>Prev</button><button>Next</button><button><img src="images/favorite-icon.png" height="15px" width="15px"> Favorite</button></div>  
      <div class="listingBasics" class="text-center"><div><strong><span class="price"><%= listing.price %></span></strong>&nbsp;&nbsp;&nbsp;&nbsp;<%= ((new Date() - listing.ListingContractDate) / 86400000).toFixed(0) %> Days on Market</div>
      <div><%= listing.beds %> Bed, <%= listing.baths %> Bath, <%= listing.sqft %> Sq.Ft.</div>
      <div><span class=''><%= listing.address %>in <%= listing.city %>, <%= listing.state %></span></div>
      <div><span class=''>Subdiv: <strong><%= listing.subdivision %></strong></span></div>
      <div><span class=''><%= listing.listOffice %></span></div><br>
     </div>

      <div class="amenities"><% if (listing.garage > 0) { %><button id='none' disabled='true'><img src="images/garage-icon.png" height="20px" width="20px"><%= listing.garage %> Garage</button><% } else { %><% } %><% if (listing.fireplace > 0) { %><button id="none" disabled="true"><img src="images/fireplace-icon.png" height="20px" width="20px"> Fireplace</button><% } else { %><% } %><% if (listing.pool > 0) { %><button id="none" disabled="true"><img src="images/icon-swimming.png" height="20px" width="20px"> Pool</button><% } else { %><% } %><% if (listing.masterMain === '1') { %><button id="none" disabled="true"><img src="images/master-main-icon.ico" height="20px" width="20px"> Master Main</button><% } else { %><% } %><% if (listing.view.indexOf('GRENBELT') >= 0) { %><button id="none" disabled="true"><img src="images/trees-icon.png" height="20px" width="20px"> Greenbelt</button><% } else { %><% } %><% if (listing.amenities.indexOf('GOLFPRIV') >= 0 || listing.amenities.indexOf('GOLFPUB') >= 0) { %><button id="none" disabled="true"><img src="images/golf-icon2.png" height="20px" width="20px"> Golf Comm</button><% } else { %><% } %><% if (listing.amenities.indexOf('POOLCOMM') >= 0) { %><button id="none" disabled="true"><img src="images/swimming.png" height="20px" width="20px"> Comm Pool</button><% } else { %><% } %><% if (listing.waterfront > 0) { %><button id="none" disabled="true"><img src="images/waterfront-icon.png" height="20px" width="20px"> Waterfront</button><% } else { %><% } %><% if (listing.amenities.indexOf('LAKEPRIV') >= 0) { %><button id="none" disabled="true"><img src="images/lake-icon.png" height="20px" width="20px"> Comm Lake</button><% } else { %><% } %><% if (listing.rooms.indexOf('RMOFS') >= 0) { %><button id='none' disabled='true'><img src="images/study-icon.png" height="20px" width="20px"> Study</button><% } else { %><% } %><% if (listing.rooms.indexOf('RMHTH') >= 0 || listing.rooms.indexOf('RMMED') >= 0)  { %><button id='none' disabled='true'><img src="images/media-room-icon.png" height="20px" width="20px"> Media Room</button><% } else { %><% } %><div class='DescSchoolsFin'><button type="button" class="btn btn-primary DESC" data-toggle="popover" data-trigger="focus" data-placement="top" title="Description" data-content="<%= listing.remarks %>">Desc</button><button type="button" class="btn btn-primary DESC" data-toggle="popover" data-trigger="focus" data-placement="top" title="Schools" data-content="<%= listing.schoolDistrict %> <br> Elem: <%= listing.elemSchool %> <br> Middle: <%= listing.middleSchool %> <br>High School: <%= listing.highSchool %>">Schools</button><button type="button" class="btn btn-primary DESC" data-toggle="popover" data-trigger="focus" data-placement="top" title="Financials" data-content="Taxes: $<%= listing.taxes %> <br> Tax Rate: <%= listing.taxRate %> <br> $/SqFt: $<%= listing.priceSQFT %> <br> HOA: $<%= listing.hoaFee %><% if (listing.hoaDuration === 'M') { %> Monthly <% } %><% if (listing.hoaDuration === 'A') { %> Annually <% } %><% if (listing.hoaDuration === 'Q') { %> Quarterly <% } %><% if (listing.hoaDuration ==='S') { %> Semi-Annually <% } %>">Financials</button></div><div><button type="button" class="btn DESC form-control" data-toggle="popover" data-trigger="focus" data-placement="top" title="Darrin Bennett" data-content="[Agent Photo Here] <br> <a href='tel:5122709688'>512-270-9688</a> <br> <a href='mailto:darrin@austinHomesMatchmaker.com'>Email</a>">Contact Agent</button></div></div>

        
</div>
<% }) %>  
</div>
</div>


 <script src='/javascripts/javascript.js'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
  </body>
</html>

