<!DOCTYPE html>
<html>
  <head>
    <title>AUSTIN SHOW</title>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    
    <link rel='stylesheet' href='/stylesheets/style2.css' />
    <link rel='stylesheet' href='/stylesheets/showPage.css' />
    <!-- SLICK SLIDER CSS -->
    <link rel='stylesheet' href='/stylesheets/slickSlider2.css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
      <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css">
     <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
        <nav class="navbar navbar-default navbar-fixed-top" id='navbar'>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='/'>MyHomesMatchmaker</a>
      <!-- <a class="navbar-brand">AUSTIN</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/austin">Search<span class="sr-only">(current)</span></a></li>
        <!-- <li><a href="new">Sell My Home</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="tel:5122709688">512-270-9688</a></li>
        <li><% cookies.forEach(function(cookie) { %>
        <% if (!cookie) { %><a href="/signin">Login/Register</a><% } else { %><a href="/signout">Signout <% } })%></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class='cont'>

  <div class='row'>
  <div class="rtl">
          <% for (var i = 1; i <= theListing.photoCount; i++) { %>
        <img class="imageSlideshow2" src="/images/austinImages/LargePhoto<%= theListing.matrixID %>-<%= i %>.jpeg"></a>
        <% } %>
    </div>
  </div>

    <div class='row'>
        <div class='col-md-12 col-xs-12'>
        <h2 id='h2'>DESCRIPTION</h2>
        <div><%= theListing.remarks %></div>
        </div>
    </div>
    <div class='row'>
      <div class='col-md-6 col-xs-12'>
          <h2 id='h2'>BASICS</h2>
          <div><strong><span class="price"><%= theListing.price %></span></strong></div>
          <div><%= ((new Date() - theListing.ListingContractDate) / 86400000).toFixed(0) %> Days on Market</div>
          <div><%= theListing.beds %> Bed, <%= theListing.baths %> Bath, <%= theListing.sqft %> Sq.Ft.</div>
          <div class='add'><%= theListing.address %> in <%= theListing.city %>, <%= theListing.state %></div>
      </div>
      <div class='col-md-6 col-xs-12'>
        <h2 id='h2'>MORE INFO</h2>
        <div><button id='none' disabled='true'><%= theListing.stories %> Stories</button><% if (theListing.garage > 0) { %><button id='none' disabled='true'><%= theListing.garage %> Garage</button><% } else { %><% } %><% if(theListing.lotSize !== '0.00') { %><button id='none' disabled='true'><%= theListing.lotSize %> Acres</button><% } else { %><% } %><% if (theListing.fireplace > 0) { %><button id="none" disabled="true">Fireplace</button><% } else { %><% } %><% if (theListing.pool > 0) { %><button id="none" disabled="true">Pool</button><% } else { %><% } %><% if (theListing.masterMain === '1') { %><button id="none" disabled="true">Master Main</button><% } else { %><% } %><% if (theListing.view.indexOf('GRENBELT') >= 0) { %><button id="none" disabled="true">Greenbelt</button><% } else { %><% } %><% if (theListing.amenities.indexOf('JOGBIKE') >= 0) { %><% } %><% if (theListing.amenities.indexOf('PARK') >= 0) { %><button id="none" disabled="true">Comm Park</button><% } else { %><% } %><% if (theListing.amenities.indexOf('DOGPRK') >= 0) { %><button id="none" disabled="true">Jog/Bike Path</button><% } else { %><% } %><% if (theListing.amenities.indexOf('DOGPRK') >= 0) { %><button id="none" disabled="true">Comm Dog Park</button><% } else { %><% } %><% if (theListing.amenities.indexOf('GOLFPRIV') >= 0 || theListing.amenities.indexOf('GOLFPUB') >= 0) { %><button id="none" disabled="true">Golf Comm</button><% } else { %><% } %><% if (theListing.amenities.indexOf('POOLCOMM') >= 0) { %><button id="none" disabled="true">Comm Pool</button><% } else { %><% } %><% if (theListing.waterfront > 0) { %><button id="none" disabled="true">Waterfront</button><% } else { %><% } %><% if (theListing.amenities.indexOf('LAKEPRIV') >= 0) { %><button id="none" disabled="true">Comm Lake</button><% } else { %><% } %><% if (theListing.rooms.indexOf('RMOFS') >= 0) { %><button id='none' disabled='true'>Study</button><% } else { %><% } %><% if (theListing.rooms.indexOf('RMHTH') >= 0 || theListing.rooms.indexOf('RMMED'))  { %><button id='none' disabled='true'>Media Room</button><% } else { %><% } %><button id="none" disabled="true">Built <%= theListing.yearBuilt %></button></div>
    </div>
  </div>
    <div class='row'>
      <div class='col-md-6 col-xs-12'>
        <h2 id='h2'>SCHOOLS</h2>
        <div><%= theListing.schoolDistrict %></div>
        <div>Elem: <%= theListing.elemSchool %></div>
        <div>Middle: <%= theListing.middleSchool %></div>
        <div>High School: <%= theListing.highSchool %></div>
      </div>
      <div class='col-md-6 col-xs-12'>
          <h2 id='h2'>NEIGHBORHOOD</h2>
          <div><%= theListing.subdivision %></div>
      </div>
    </div>
    <div class='row'>
        <div class='col-md-6 col-xs-12'>
        <h2 id='h2'>FINANCIALS</h2>
        <div>Taxes: $<%= theListing.taxes %></div>
        <div>Price/SQFT: $<%= theListing.priceSQFT %></div>
        <div>HOA: $<%= theListing.hoaFee %> <% if (theListing.hoaDuration === 'M') { %> Monthly <% } %><% if (theListing.hoaDuration === 'A') { %> Annually <% } %><% if (theListing.hoaDuration === 'Q') { %> Quarterly <% } %><% if (theListing.hoaDuration ==='S') { %> Semi-Annually <% } %></div>
        <div class='est'> </div>
          <div class='favvbutton'>
        <% if (favs) { %> 
         <% if (favs >= 0) { %>
        <form action='removeFav' method='post' class='REMOVEFAV'><button id='none' class='FAVBTN'>Remove Favorite</button></form><% } else { %>

        <form action='/' method='post' class='FAV'><button id='none' class='FAVBTN'><img src="/images/favorite-icon.png" height="20px" width="20px">Add Favorite</button></form><% } } else { %> 

        <form action='/' method='post' class='FAV'><button id='none' class='FAVDISABLED'><img src="/images/favorite-icon.png" height="20px" width="20px">Add Favorite</button></form><% } %>
      </div>
        </div>

      <div class='col-md-6 col-xs-12'>
        <h2 id='h2'>SHOWING INFO</h2>
        <div>Darrin Bennett</div>
        <div><img class='agentImage' src='/images/darrin.jpg' height='100px' width='100px' /></div>
        <div><a href='tel:5122709688'>512-270-9688</a></div>
        <div><a href='mailto:Darrin@MyHomesMatchmaker.com'>Darrin@MyHomesMatchmaker.com</a></div>
         <div>Virtual Realty Group</div><br>
         <!-- <a href='/searchResultsAustin/1'><button>Back to Search Results</button></a> -->
      </div>
    </div>
    <div class='row'>
      <div class='LO'>Listing courtesy of <%= theListing.listOffice %></div>
    </div>
     <div class='row'>
        <div id="map"></div>
    </div>




    <div class='col-md-12 col-xs-12'>
      <small>Based on information from the Austin Board of REALTORS® (alternatively, from ACTRIS) All information provided is deemed reliable but is not guaranteed and should be independently verified. The Austin Board of REALTORS®, ACTRIS and their affiliates provide the MLS and all content therein “AS IS” and without any warranty, express or implied.</small>
    </div>

  



  </div>


<script src='/javascripts/javascript.js'></script> 
<script src='/javascripts/googleAPI.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

 <!-- SLICK SLIDER SCRIPT -->
   <script src='/javascripts/slickSlider.js'></script>
 <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>

  <div class="dialog" title="Create an Account">Login or create an account to save favorites! <a href='/signup' style='outline: 0; text-decoration: none; font-weight: bold'>Signup here!</a></div>
               
  <script>
    $( ".dialog" ).dialog({ autoOpen: false });
    $( ".FAVDISABLED" ).on('click', function() {
    $( ".dialog" ).dialog( "open" );
    });
  </script>
  </body>
</html>
