<!DOCTYPE html>
<html>
  <head>
    <title>CHICAGO SHOW</title>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    
    <link rel='stylesheet' href='/stylesheets/style2.css' />
    <link rel='stylesheet' href='/stylesheets/showPage.css' />
     <!-- SLICK SLIDER CSS -->
    <link rel='stylesheet' href='/stylesheets/slickSlider2.css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
      <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css">
     <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
        <nav class="navbar navbar-default navbar-fixed-top" id='navbar'>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='/'>MyHomesMatchmaker</a>
      <!-- <a class="navbar-brand">CHICAGO</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/chicago">Search<span class="sr-only">(current)</span></a></li>
        <!-- <li><a href="new">Sell My Home</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="tel:7734250881">773-425-0881</a></li>
        <li><% cookies.forEach(function(cookie) { %>
        <% if (!cookie) { %><a href="/signin">Login/Register</a><% } else { %><a href="/signout">Signout <% } })%></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
 
<div class='cont'>

  <div class='row'>
  <div class="rtl">
          <% for (var i = 1; i <= theListing.photoCount; i++) { %>
        <img class="imageSlideshow2" src="/images/chicagoImages/LargePhoto<%= theListing.MLS %>-<%= i %>.jpeg"></a>
        <% } %>
    </div>
  </div>

    <div class='row'>
        <div class='col-md-12 col-xs-12'>
        <h2 id='h2'>DESCRIPTION</h2>
        <div><%= theListing.remarks %></div>
        </div>
    </div>
    <div class='row'>
      <div class='col-md-6 col-xs-12'>
          <h2 id='h2'>BASICS</h2>
          <div><strong><span class="price"><%= theListing.price %></span></strong></div>
          <div><%= ((new Date - new Date(theListing.listDate.trim())) / 86400000).toFixed(0) %> Days on Market</div>
          <div><%= theListing.beds %> Bed, <%= theListing.fullBaths %> Bath, <%= theListing.appxsqft %> Sq.Ft.</div>
          <div class='add'><%= theListing.streetNumber %> <%= theListing.streetName %> <% if (theListing.unitNum !== 'NA') { %>Unit <%= theListing.unitNum %><% } %> in <%= theListing.city %>, <%= theListing.state %></div>
      </div>
      <div class='col-md-6 col-xs-12'>
        <h2 id='h2'>MORE INFO</h2>
        <div>
          <!-- STORIES -->

          <button id="none" disabled="true"><%= theListing.garage %> Garage</button><% if (theListing.fireplace > 0) { %><button id="none" disabled="true">Fireplace</button><% } else { %><% } %><% if (theListing.basement.indexOf('N') < 0) { %><button id="none" disabled="true">Basement</button><% } else { %><% } %><% if (theListing.otherAmenities.indexOf('C') >= 0) { %><button id="none" disabled="true">Comm Pool</button><% } else { %><% } %><% if (theListing.remarks.indexOf('golf') >= 0 || theListing.remarks.indexOf('Golf') >= 0 || theListing.remarks.indexOf('GOLF') >= 0) { %><button id="none" disabled="true"> Golf Comm</button><% } else { %><% } %><% if (theListing.waterfront === 'Y') { %><button id="none" disabled="true">Waterfront</button><% } else { %><% } %><button id="none" disabled="true">Built <%= theListing.appxyearbuilt %></button>
        </div>
    </div>
  </div>
    <div class='row'>
      <div class='col-md-6 col-xs-12'>
        <h2 id='h2'>SCHOOLS</h2>
        <div>Elem: <%= theListing.elemSchool %></div>
        <div>Middle: <%= theListing.middleSchool %></div>
        <div>High School: <%= theListing.highSchool %></div>
      </div>
      <div class='col-md-6 col-xs-12'>
          <h2 id='h2'>NEIGHBORHOOD</h2>
          <div><%= theListing.subdivision %></div>
      </div>
    </div>
    <div class='row'>
        <div class='col-md-6 col-xs-12'>
        <h2 id='h2'>FINANCIALS</h2>
        <div>Taxes: $<%= theListing.taxes %></div>
        <div>Price/SQFT: $<%= theListing.priceSQFT %></div>
        <div>HOA: $<%= theListing.hoaFee %> Monthly</div>
        <div class='est'> </div>
        <div class='favvbutton'>
        <% if (favs) { %> 
         <% if (favs >= 0) { %>
        <form action='removeFav' method='post' class='REMOVEFAV'><button id='none' class='FAVBTN'>Remove Favorite</button></form><% } else { %>

        <form action='/' method='post' class='FAV'><button id='none' class='FAVBTN'><img src="/images/favorite-icon.png" height="20px" width="20px">Add Favorite</button></form><% } } else { %> 

        <form action='/' method='post' class='FAV'><button id='none' class='FAVDISABLED'><img src="/images/favorite-icon.png" height="20px" width="20px">Add Favorite</button></form><% } %>
      </div>
        </div>

      <div class='col-md-6 col-xs-12'>
        <h2 id='h2'>SHOWING INFO</h2>
        <div>Walker Robinson</div>
         <div><img class='agentImage' src='/images/walker-robinson-chicago.jpg' height='100px' width='100px' /></div>
        <div><a href='tel:7734250881'>773-425-0881</a></div>
        <div><a href='mailto:Walker@MyHomesMatchmaker.com'>Walker@MyHomesMatchmaker.com</a></div>
        <div>RE/MAX Edge</div><br>
        <!-- <a href='/searchResultsChicago/1'><button>Back to Search Results</button></a> -->
      </div>
    </div>
    <div class='row'>
      <div class='LO'>Listing courtesy of <%= theListing.listOffice %></div>
    </div>
     <div class='row'>
        <div id="map"></div>
    </div>
    <div class='col-md-12 col-xs-12'>
      <small>“"This representation is based in whole or in part on data supplied by Midwest Real Estate Data, LLC for the period of inception of this website through present day. Midwest Real Estate Data, LLC does not guarantee nor is it in any way responsible for its accuracy. Data maintained by Midwest Real Estate Data, LLC may not reflect all real estate activity in the market."</small>
    </div>
    <div class='chiIDX'><img src='/images/mred_logo.png'></div>
  

  </div>


<script src='/javascripts/javascript.js'></script>
<script src='/javascripts/googleAPI.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
 <!-- SLICK SLIDER SCRIPT -->
   <script src='/javascripts/slickSlider.js'></script>
 <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>

  <div class="dialog" title="Create an Account">Login or create an account to save favorites! <a href='/signup' style='outline: 0; text-decoration: none; font-weight: bold'>Signup here!</a></div>
               
  <script>
    $( ".dialog" ).dialog({ autoOpen: false });
    $( ".FAVDISABLED" ).on('click', function() {
    $( ".dialog" ).dialog( "open" );
    });
  </script>
  </body>
</html>
